.metadata
.classpath
.project
.settings/
target/
bin/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.DS_Store
.gradle
.springBeans
Servers/
**/build
**/bin
**/target
/build
